@page "/"
@using AgileMini.Data
@inject DataService DataService

<h1>Активные проекты:</h1>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Состояние</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.State</td>
                    <td>@project.CreationDate</td>
                </tr>
            }
        </tbody>
    </table>
}




<h1>Сотрудники без задач:</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Project[]? projects;
    private User[]? users;

    protected override async Task OnInitializedAsync()
    {
        projects = await DataService.GetActiveProjects();
        users = await DataService.GetUnemployedUsers();
    }
}